#cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

#card{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px black;
    width: 200px;

}